body {
  margin: 0;
  font-family: sans-serif;
  height: 100vh;
 
}

.app {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 14px 0;
  background-color: #333;
}

.header h1 {
  margin: 0 0 10px 0;
  color: white;
}

/* IMPORTANT: your HTML uses id="slideshow", so target #slideshow */
#slideshow {
  flex: 1;
  background-color: gray;
  position: relative;
  overflow: hidden;
}

/* Slides created by JS */
.slide {
  position: absolute;
  inset: 0;

  background-repeat: no-repeat;
  background-position: center center;

  /* SWITCH THIS */
  background-size: contain;

  opacity: 0;
  transition: opacity 1s ease-in-out;
}


